@import "fonts";
@import "null";
@import "formul";
@import "header";
@import "footer";

.page {
}
.content-x1 {
    &__container {
    }
}
.content-x2 {
    &__container {
    }
}
.content-x3 {
    &__container {
    }
}
.greeting {
    &__memo {
    }
    &__title {
    }
}
.memo {
    &__title {
    }
    &__list {
    }
    &__btn {
    }
}
.memo-item {
}
.column {
}
.column-left {
    &__title {
    }
    &__subtitle {
    }
}
.column-right {
    &__title {
    }
    &__block {
    }
}

.icon-title {
}
.subtitle {
    &__title {
    }
    &__list {
    }
    &__btn {
    }
}
.subtitle-item {
}
.block {
    &__title {
    }
    &__txt{

    }
}
.block-icon {
}
.title-block {
}
.txt-block {
}




.animation-bottom {
    opacity: 0;
    transform: translateY(100px);
}
.animation-top {
    opacity: 0;
    transform: translateY(-100px);
}
.animation-left {
    opacity: 0;
    transform: translateX(-100px);
}
.animation-right {
    opacity: 0;
    transform: translateX(100px);
}

.animation.element-show {
    opacity: 1;
    transition: all 1s;
    // transition: opacity 1s;
    transform: translateX(0px);
    transform: translateY(0px);
}
